/*login && regist*/
*,*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    scroll-behavior: smooth;
}
/* ----------------- */
::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);box-shadow:inset 0 0 6px rgba(0,0,0,.3);border-radius:10px}
::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(255,255,255,.4);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5);box-shadow:inset 0 0 6px rgba(0,0,0,.5)}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(253,253,253,.4)}
.log-reg {
  width: 100%;
}
.log-reg .container-resp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
.log-reg .left {
  width: 59%;
  height: 100%; 
  overflow-y: auto;
}
.log-reg .left .reg--container-left fieldset legend span {
  font-size: 15px;
  font-weight: bold;
}
.log-reg .left .reg--container-left {
  padding-top: 75px;
  padding-bottom: 75px;
}
.log-reg .right {

}
.log-reg .container-left {
  width: 100%;
  height: 100vh;
  position: relative;

}
.log-reg .content-left {
  max-width: 576px;
  height: auto !important;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-reg .form-register .container-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
}
.log-reg .form-register input{
  display: inline-block;
  width: calc(50% - 12.5px);
}
.log-reg .form-register input.w-100{
  display: inline-block;
  width: 100%;
}
.log-reg form input {
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.32);
  background: #FAFAFA !important;
  max-width: 100%;
  height: 50px;
  flex-shrink: 0;
  color: rgba(51, 51, 51, 0.50) !important;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin-top: 11px;
  position: relative;
  padding-left: 20px;
}
.log-reg form .container-input {
  margin-top: 20px;
}
.log-reg form .btn-lg-reg {
    margin: auto;
    max-width: 471px;
    height: 60px;
    flex-shrink: 0;
    background: var(--bleu-color) !important;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center !important;
    margin-top: 59px;
    display: block;
    width: 100%!important;
} 
.container--right-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-reg h1 {
  color: var(--bleumarine-color) !important;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 30px !important;
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.log-reg form {
  width: 100%;
  padding-bottom: 74px;
}
.log-reg form .js-form-item {
  margin-top: 25px;
}
.log-reg .reg--container-left .content-left {
  align-items: flex-start !important;
}
.log-reg .left .reg--container-left fieldset, .log-reg .left .reg--container-left details {
  padding-left: 20px;
  padding-right: 20px ;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  background: #FAFAFA !important;
}
.log-reg .reg--container-left form input[type="checkbox"],  .log-reg .reg--container-left form input[type="radio"] {
height: auto;
width: auto !important;   
}
.log-reg .reg--container-left .description, .log-reg .reg--container-left .password-strength__title, .log-reg .reg--container-left .password-confirm-message {
  font-size: 12px;
  padding: 10px;
}
.log-reg .left .reg--container-left fieldset .js-form-item {
  margin-top: 0 !important;
} 
.log-reg .left .reg--container-left details label {
display: inline-block;
margin-bottom: 5px;
}
.log-reg .left .reg--container-left details {
margin-top: 15px;
}

.log-reg form input[type="submit"] {
  border-radius: 38px;
  background: var(--bleu-color) !important;
  color: #FFF !important;
  font-weight: 500;
   margin-top: 25px;
}
    
@media (max-width: 500.98px) {
  .log-reg .right {
    display: none;
  }
  .log-reg .left, .log-reg .content-left {
      width: 100%;
      max-width: 100%;
  }
}

#block-staydirect-template-1-content .log-reg form.user-login-form {
  margin-top: 0 !important;
}
#block-staydirect-template-1-content .log-reg  form.user-login-form .form-item {
  margin-bottom: 0 !important;
}
.log-reg form .js-form-item {
    margin-top: 0 !important;
}
.log-reg .description--register-forget span a {
    color: rgba(51, 51, 51, 0.50);
    font-family: "Kanit";
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 5px;
}
.log-reg form.user-login-form, .description--register-forget {
    max-width: 575px;
    margin: auto;
    margin-top: 15px;
}
.log-reg .user-register-form.user-form .std--useradmin {
  margin-top: 0 !important;
}
#block-staydirect-template-1-content .log-reg .description--register-forget {
    position: absolute;
    bottom: 74px;
    left: 18px;
}
#block-staydirect-template-1-content .user-register-form ~ .description--register-forget {
    position: absolute;
    bottom:74px !important;
    left: 18px;
}
/* ----------------------------*/

.log-reg form input {
background: #E8F0FE !important;
}
    @media (max-width: 249.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (max-width: 399.96px) {
      .log-reg .container-resp {
        max-width: none !important;
      }
    }
    @media (min-width: 499.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 539.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 575.98px) {
      .log-reg .container-resp {
        max-width: none !important;
      }
    }
    @media (min-width: 767.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    } 
    @media (min-width: 847.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 991.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 1023.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 1111.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 1199.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
    @media (min-width: 1659.98px) {
      .log-reg .container-resp {
        max-width: none !important;
        padding-right: 0 !important;
      }
    }
/* end login && password */ 

/* forget password */
 form.user-pass {
          display: flex;
          width: 100%;
          overflow: hidden;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 25px;
          flex-wrap : wrap ;
          margin-top: 75px !important;
          margin-bottom: 100px !important;
          border: solid 1px red;
          padding: 60px 80px;
          border-radius: 7px;
          box-shadow:  0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          border: 1px solid #dee2e6!important;
          max-width: 575px !important;
          margin: auto;
      }
      form.user-pass input[type="text"], form.user-pass input[type="password"] {

      width: 100%;
          padding: .375rem .75rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          color: rgba(51, 51, 51, 0.30) !important;
          font-size: 18px !important;
          font-family: "Kanit" !important;
          font-style: normal;
          font-weight: 400 !important;
          line-height: 150% !important;
          border-radius: 10px !important;
          background: #F6F6F6 !important;
          flex-shrink: 0 !important;
          border: #dee2e6;
          border-radius: 10px;
          border: 1px solid rgba(51, 51, 51, 0.14) !important;     
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          color: rgba(51, 51, 51, 0.30);
          border: none;
      }
      form.user-pass input[type="text"]:focus,  form.user-pass input[type="password"]:focus  {
          color: var(--bs-body-color);
          background-color: var(--bs-body-bg);
          border-color: #86b7fe;
          outline: 0;
          box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
      }
      #block-staydirect-template-1-content .form-actions {
          width: 100%;
      }
      form.user-pass input[type="submit"] {
                  height: 60px;
                  flex-shrink: 0;
                  background: var(--bleu-color);
                  color: #FFF;
                  text-align: center;
                  font-family: "Montserrat";
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  border-radius: 50px;
                  margin-top: 25px;
                  border: none !important;
                  width: 100%;
      }
      form.user-pass label {
          color: rgba(51, 51, 51, 0.50);
          font-size: 17px;
          font-family: "Kanit";
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          text-align: left !important;
          display: inline-block;
          width: 100%;
      }
      form.user-pass .description {
          color: rgba(51, 51, 51, 0.50);
          font-family: "Kanit";
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin: 5px;
      }
      form.user-pass .form-item {
          margin-bottom: 25px;
      }

      #block-staydirect-template-1-content span a  {
          color: rgba(51, 51, 51, 0.50);
          font-family: "Kanit";
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin: 5px;
      }
      @media (max-width: 499.98px) { 
          form.user-pass {
              max-width: 90%;
          }
      }

      form.user-pass .form-item {
          margin-bottom: 0 !important;
      }

      form.user-pass .js-form-item {
      margin-top: 0 !important;
      }

      .description--register-forget span a {
      color: rgba(51, 51, 51, 0.50);
      font-family: "Kanit";
      font-size: 15px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin: 5px;
      }

      form.user-pass, .description--register-forget {
      max-width: 575px;
      margin: auto;
      margin-top: 15px;
      }
/* end forget password */